* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: url("/src/img/mount.jpg") center center/cover no-repeat;
  height: 100%;
}

.container {
  min-height: 700px;
  max-height: 100%;
  min-width: 100%;
}

.line {
  position: absolute;
  height: 100%;
  left: 40%;
  width: 550px;
}

.content {
  position: relative;
  border-radius: 15px;
  padding-left: 20px;
  height: 100%;
}

.header {
  padding: 37px 0 0 70px;
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.header li {
  display: inline-block;
  list-style: none;
  margin-left: 60px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #5b91e3;
  opacity: 0.9;
}

.header .navigation__link {
  font-size: 17px;
  opacity: 0.3;
  margin-left: 39px;
}

.header__logo {
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.header__logo::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #288ee3;
  position: absolute;
  border-radius: 100%;
  left: 31px;
  top: 35px;
}

main {
  margin-top: 127px;
  margin-left: 17px;
}

.logotype {
  position: absolute;
  width: 110px;
  height: 90px;
  background: url("/src/img/ff.png") center center/cover no-repeat;
  left: 1250px;
  top: 600px;
}

.info {
  margin-left: 40px;
  color: white;
  line-height: 30px;
}

.info__descripion {
  display: inline-block;
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 10px;
}

h1 {
  font-size: 50px;

  padding-top: 18px;
}

.info__header-dot {
  position: relative;
  color: #5b91e3;
  right: 10px;
}

.info__content {
  margin: 27px 5px 10px;
  opacity: 0.6;
  font-size: 18px;
}

.info__link {
  color: #2794f3;
  font-size: 16px;
  text-decoration: none;
}
.info__link:hover {
  color: #fff;
}

form {
  position: relative;
  margin-left: 40px;
  padding-top: 10px;
  min-height: 180px;
}

.buttons {
  margin-left: 33px;
  margin-top: 40px;
}

.button {
  font-size: 14px;
  background-color: #4b4d5e;
  color: white;
  border: none;
  min-width: 195px;
  min-height: 50px;
  margin-right: 10px;
  border-radius: 30px;
  letter-spacing: 0.2px;
}

.button_primary {
  min-width: 188px;
  background-color: #2794f3;
}
.button_primary:hover {
  background-color: red;
}

.button:hover {
  background-color: #2794f3;
}

.button_primary:hover {
  background-color: red;
}

input:focus {
  font-size: 18px;
  background-color: #7b7c8a;
  outline: 2px solid #4a7ce0;
}

.grid {
  display: flex;
  max-width: 430px;
}

.field {
  max-width: 51%;
}

.field__input {
  margin-top: 10px;
}

.field__input_user {
  background-image: url("/src/img/iconName.png");
  background-repeat: no-repeat;
  background-size: 18.5px;
  background-position: 90.5%;
  margin-right: 30px;
}

input[type="text"] {
  position: relative;
  border-radius: 17px;
  border: none;
  min-height: 55px;
  height: 45px;
  min-width: 150px;
  width: 183px;
  background-color: rgb(61, 64, 78);
  color: white;
  font-size: 18px;
  padding-left: 22px;
}

input[type="password"] {
  background-image: url("/src/img/iconsLock1.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 95%;
  position: relative;
}

input[type="email"] {
  background-image: url("/src/img/iconsMail.png");
  background-repeat: no-repeat;
  background-size: 17.5px;
  background-position: 95%;
  position: relative;
}

input[type="email"],
input[type="password"] {
  position: relative;
  border-radius: 15px;
  border: none;
  min-height: 55px;
  height: 45px;
  background-color: rgb(61, 64, 78);
  color: white;
  font-size: 18px;
  min-width: 398px;
  margin-top: 15px;
  padding-left: 22px;
}
